.wrapper {
    display: flex;
    min-height: 100vh;
    transition: all 0.25s ease-in-out;
}
#sidebar.expand ~ .main-content {
    margin-left: 260px; /* Matches expanded sidebar width */
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100%;
}

