.main-content {
    flex: 1;
    transition: margin-left 0.25s ease-in-out;
    margin: 10px 30px;
    padding-bottom: 2rem;
    /* Matches collapsed sidebar width */
    min-height: 100vh;
    overflow-x: hidden;
}

.table-container {
    border:1px solid #ddd;
    overflow-x: hidden;
    font-size: smaller;
}

thead {
    position: sticky;
    top: 0;
    background: rgb(224, 221, 221);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

h1 {
    text-align: center;
    color: #333;
    padding: 20px;
}

table {
    width: 100%;
    /* line-height: 110px; */
    border-collapse: collapse;
    /* margin-top: 20px; */
    text-align: center;
}

th,
td {
    border: 1px solid #ddd;
    padding:12px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 5px;
}

.accept-btn {
    background-color: #499b4b;
    color: rgb(234, 242, 234);
}

.reject-btn {
    background-color: #da3529;
    color: rgb(245, 231, 231);
}

.btn:hover {
    opacity: 0.8;
    background-color: #d4d5e0;
}

.status-en_attente {
    color: #FFA500;
    font-weight: bold;
}

.status-accepter {
    color: #499b4b;
    font-weight: bold;
}

.status-refuser {
    color: #da3529;
    font-weight: bold;
}

.resume {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.action-buttons {
    white-space: nowrap;
}

.add-memory {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #236a1a;
    color: white;
    text-decoration: none;
    border-radius: 70px;

}

.add-memory:hover {
    background-color: #d4e9d4;
    color: #236a1a;
    box-sizing: 20px;
    border-radius: 70px;
}

.pdf-link {
    color: #155596;
    text-decoration: none;
}

.pdf-link:hover {
    text-decoration: underline;
}